<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zhongti.jicai" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>jikaih5</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <chcp>
        <config-file url="http://lotteryhcp.githubup.com/chcp.json" />
    </chcp>
    <preference name="Orientation" value="portrait" />
    <plugin name="cordova-plugin-jikaicai" spec="/Users/rome/Projects/cordova/cordova-plugin-jikaicai" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-hot-code-push-plugin" spec="^1.5.3" />
    <plugin name="cordova-plugin-wechat" spec="https://github.com/qyf94/cordova-plugin-wechat.git">
        <variable name="WECHATAPPID" value="wx0e812b2326b3ccfb" />
    </plugin>
    <engine name="android" spec="^7.0.0" />
</widget>
